<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Virtual Store
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/car']">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-select (ionChange)="OptionSelected($event)" interface="action-sheet" placeholder="Select category"
      cancelText="Cancel Choice">
      <ion-select-option *ngFor="let category of Categories" [value]="category">
        {{category.toUpperCase()}}
      </ion-select-option>
      <ion-select-option value="all">ALL</ion-select-option>
    </ion-select>

    <div class="produc">
      <app-cards (Click)="Navegate($event)" *ngFor="let item of product" [array]="item"></app-cards>
    </div>
  </div>
</ion-content>






  

